@import url("./__title/reviews__title.css");
@import url("./__subtitle/reviews__subtitle.css");
@import url("./__item/reviews__item.css");
@import url("./__item-logo/review__item-logo.css");
@import url("./__text-container/reviews__text-container.css");
@import url("./__text-author/reviews__text-author.css");
@import url("./__text/reviews__text.css");
@import url("./__description/reviews__description.css");


.reviews {
    display: flex;
    flex-direction: column;
    font-family: 'sans-serif';
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
}