.reviews__title {
    color: darkgreen;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 500px) {
    .reviews__title {
        font-size: 2em;

    }
}