@import url("./__title/results__title.css");
@import url("./__items/results__items.css");
@import url("./__item/results__item.css");
.results{
    font-family: 'sans-serif';
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
}