@import url("./__link/social-links__link.css");
@import url("./__img/social-links__img.css");

.social-links {
    list-style: none;
    display: flex;
    width: 38%;
    justify-content: space-between;
    margin: 0 auto;
}

@media screen and (max-width: 850px) {
    .social-links {
        width: 55%;
        padding: 0;
    }
}