.about__title {
    /*color: #49603b;*/
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bolder;

}
@media screen and (max-width: 1200px) {
    .about__title  {
        font-size: 2em;
    }
}@media screen and (max-width: 600px) {
    .about__title  {
        font-size: 1.5em;
    }
}
