.header__subtitle {
    color: #def196;
    font-size: 4em;
    line-height: .9em;
    text-transform: lowercase;
    margin-top: 0;
}

@media screen and (max-width: 1225px) {
    .header__subtitle {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 600px) {
    .header__subtitle {
        font-size: 1.5em;
    }
}