@import url("./__title/subscribe__title.css");
@import url("./__text/subscribe__text.css");
@import url("./__container/subscribe__container.css");
@import url("./__discount/subscribe__discount.css");

.subscribe {
    font-family: 'sans-serif';
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

@media screen and (max-width: 850px) {
    .subscribe {
        padding: 4%;
        padding-left: 0;
        padding-right: 0;
    }
}