.about__items {
    list-style: none;
    margin-left: 6em;
    /*background-color: #7fc330;*/
}

@media screen and (max-width: 600px) {
    .about__items {
        padding-left: 2%;
    }
}
@media screen and (max-width: 980px) {
    .about__items {
        margin-left: auto;
    }
}