.about__subtitle {
    font-size: 2.5em;
    color: darkgreen;
    margin-left: 3em;
    text-transform: uppercase;
    /*text-decoration: underline;*/
}

@media screen and (max-width: 768px) {
    .about__subtitle {
        margin-left: auto;
    }
}
@media screen and (max-width: 500px) {
    .about__subtitle {
        font-size: 1.8em;
    }
}