.header__title{
    color: white;
    font-size: 7em;
    line-height: .6em;
    text-transform: uppercase;
    margin-bottom: 0;
}
@media screen and (max-width: 1040px){
    .header__title {
        font-size: 4em;
    }
}