.results__title {
    color: darkgreen;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
}
@media screen and (max-width: 600px){
    .results__title{
        font-size: 2em;
    }
}